@import "mixins";
@import "variables";

// ####################
// #################### Buttons
// ####################

// # 1. Main

.button {
  background: $white;
  height: 70px;
  padding: 0px 50px;
  font-size: 20px;
  border-radius: 60px;
  color: #111822;
  display: flex;
  align-items: center;
  justify-content: center;

  @media  ($max_lg) {
    padding: 0px 25px;
    height: 50px;
    font-size: 16px;
  }

  &:hover {
    background-color: #ffffff !important;
    color: #f4795a !important;
    text-decoration: none;
  }

	&--primary {
		background-color: $jade;
	}

  &--secondary {
    background-color: #2b3b52;
    color: $white;
  }
}