// ####################
// #################### $Variables
// ####################

// #
// # Colors
// #

$white:     #FFFFFF;
$black:     #000000;
$codGrey:   #181818;
$silver:    #e9e9e9;
$carnation: #F4795A;
$mirage:    #111822;
$jade:      #00c14c;
$cap:       #616161;

// #
// # @ Medias
// #

$xxl:      "1366px";
$xl:       "1200px";
$lg:       "992px";
$md:       "768px";
$sm:       "570px";
$xsm:      "480px";
$xxsm:     "380px";

// # 1.1 Medias alias
// # Use => @media ($max_lg) {}

$max_xxl:  "max-width:" + $xxl;
$max_xl:   "max-width:" + $xl;
$max_xl:   "max-width:" + $xl;
$max_lg:   "max-width:" + $lg;
$max_md:   "max-width:" + $md;
$max_sm:   "max-width:" + $sm;
$max_xsm:  "max-width:" + $xsm;
$max_xxsm: "max-width:" + $xxsm;
$min_xxl:  "min-width:" + $xxl;
$min_xl:   "min-width:" + $xl;
$min_xl:   "min-width:" + $xl;
$min_lg:   "min-width:" + $lg;
$min_md:   "min-width:" + $md;
$min_sm:   "min-width:" + $sm;
$min_xsm:  "min-width:" + $xsm;
$min_xxsm: "min-width:" + $xxsm;
